ion-text {
    position: absolute;
    top: 95vw;
    left: 50%;
    transform: translateX(-50%);
    font-size: 4vw;
}

ion-card {
    position: absolute;
    top: 30vw;
    height: 50vw;
    width: 95vw;
    border-radius: 15px;
}